*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body
{
    font-family:'Raleway',sans-serif;
    background: #fff;
}

.background
{
    background: url("background8.jpg") no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;   
}

.text, .box
{
    margin-top: 45vh;
}

.text
{
    margin-left: 10%;
    font-weight: 300px;
}
.box
{
    margin-left: 35%;
}

.text h1
{
    top: 50%;
    font-size: 70px;
    color: deeppink;
    font-weight: 500;
}

.text h2
{
    font-size: 20px;
    color: darksalmon;
    font-weight: 400;
}

.text p
{
    font-size: 20px;
    color:darkorange;
    font-weight: 300;
}

.text p a
{
    color: darkturquoise;
    font-weight: 900;
}

.form
{
    background: transparent;
    color: darkorange;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    width: 270px;
    border: none;
}

input
{
    margin: 0;
    padding: 17px;
    background: transparent;
    border: none;
    color: #fff;
    font-family: 'Releway', sans-serif;
}

.username, .password
{
    border-bottom: 1px solid #000;
}

.button
{
    background: transparent;
    border: 1px solid #fff;
    color:#fff;
    font-size: 18px;
}

.button:hover
{
    background: darkorange;
}
























